@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-indigo-600 text-white px-6 py-2 rounded-xl font-bold hover:bg-indigo-700 transition duration-300 shadow-lg;
  }
  
  .card-white {
    @apply bg-white shadow-xl rounded-3xl border border-gray-100 overflow-hidden;
  }
}